<h2>https://jsonplaceholder.typicode.com/posts/1/comments</h2>
<table style="border: 1px solid black;">
<tr>
    <th>Postid</th>
    <th>id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Body</th>

</tr>
<tr *ngFor='let userdata of list'>
    <td>{{userdata.postId}}</td>
    <td>{{userdata.id}}</td>
    <td>{{userdata.name}}</td>
    <td>{{userdata.email}}</td>
    <td>{{userdata.body}}</td>


</tr>

</table>
<h2>https://jsonplaceholder.typicode.com/posts</h2>
<p>{{postlist.userId}}</p>
<p>{{postlist.id}}</p>
<p>{{postlist.titel}}</p>
<p>{{postlist.body}}</p>

