

<ul class="nav ml-auto ">
    <li class="nav-item">
        <a routerLink="/Basicform">Login Form</a>
    </li>
    <li class="nav-item">
        <a routerLink='/Form'>Simple Form</a>
    </li>
    <li class="nav-item">
        <a routerLink="/ApiGet">GetApi</a>
    </li>
    <li class="nav-item">
        <a routerLink="/Apicurd">Two way data Binding</a>
    </li>
    <li class="nav-item">
        <a routerLink="/Apicurd">Two way data Binding</a>
    </li>
    <li class="nav-item">
        <a routerLink="/FormApi">Form curds with api's</a>
    </li>
  </ul>
<router-outlet></router-outlet>